
  ion-label {
    white-space: normal !important;
  }
  .addressLab{
    color: var(--accent_color);
    ion-button{
      color: var(--accent_color);
      float: right;
    }
  }

  div {
    b {
      color: var(--accent_color);
    }
  }

