ion-content{
    --background: #f5f5f5!important;
}
.boxTag{
    border: 1px solid #ccc;
    padding: 5px 10px;
}
.active{
    border: 1px solid #000; 
}
.order_products {
    p{
      font-size: 16px;
      font-weight: 600;
      color: #000;
    }
    ion-row{
      ion-col{
        justify-content: space-between;
        flex-direction: row;
        color: #bdbdbd;
      }
    }
}