
    .loader_outer {
        height: 100%;
        display: flex;
        align-items: center;
      }
      .div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: center;
        color: var(--accent_color) !important;
        padding-top: 40%;
      }

